@import '../../../../asset/Sass/mixin';
@import '../../../../asset/Sass/variable';
.RightLayout{
  @include flex(space-around,center);
  flex-direction: column;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-50%);
  opacity: 0;
  transition: all .6s ease-in-out;
}
.fadeout{
  transform: translateX(0);
  animation: Fade .6s ease-in-out;
  opacity: 1;
}
@keyframes Fade{
  0%,49%{
    opacity: 0;
  }
  50%,100%{
    opacity: 1;
  }
}
@media screen and (min-width:$mobile-Xs) and (max-width:$mobile-S) {
  .RightLayout{
    width: 100%;
    height: 50%;
  }
}