@import '../../../asset/Sass/mixin';
@import '../../../asset/Sass/variable';
.filterDateWrapper{
  width:130px;
  position: relative;
  height: auto;
}
.filterDateBtn{
  width: 100%;
  background-color:rgba($color: $bg-primary, $alpha: 0.7);
  @include flex(space-between,center);
  padding: 4px 3px;
  border-radius: 4px;
  cursor: pointer;
  span{
    font-size: 1.3rem;
  }
}
.filterDateMenu{
  position: absolute;
  top: 28px;
  right: 0;
  width: 100%;
  background-color:rgba($color: $bg-primary, $alpha: 0.95);
  padding: 0 2px;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 6;
  border-radius: 4px;
  li{
    @include flex(space-between,center);
    padding: 3px;
  }
}
.division{
  width: 100%;
  height: 1px;
  background-color:rgba($color: $bg-input, $alpha: 0.4);
}
.upComing{
font-size: 1.2rem;
p{
  padding: 3px;
  margin-bottom: 3px;
}
}
.nothing{
  font-size: 1.2rem;
  @include flex(space-around,center);
  padding: 10px 2px;
  opacity: 0.6;
  svg{
    font-size: 1.6rem;
  }
}