@import '../../asset/Sass/mixin';
@import '../../asset/Sass/variable';
.NewTaskFrom{
  --green:#14AF6E;
  --formcolor:#444;
  width: 70%;
  height: 95%;
 @include flex(space-around,center);
 flex-direction: column;
 background-color: #fff;
 color: var(--green);
 border-radius:10px;
padding: 0 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 .Datapicker{
  width: 170px;
 }
}
.submitBtn{
   display: block;
  width: 80%;
  height: 40px;
  background-color: var(--green);
  color: $bg-input;
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
  font-family: inherit;
  border-radius: 4px;
  transition: all 0.6s ease-in-out;
 }
.disableBtn{
  cursor: not-allowed;
  background-color: rgba($color:$bg-secondry, $alpha: 0.5);
  transition: all 0.6s ease-in-out;

}
//title style
.newTaskTitle{
width: 100%;
height: 30px;
@include flex(center,center);
flex-direction: row-reverse;
color: $color-secondry;
h2{
  font-weight: 400;
  margin-left: 10px;
  font-size: 2.6rem;
  align-self: flex-start;
}
svg{
  font-size: 28px;
}

}
//input style
.inputTask{
   font-family: inherit;
    width: 100%;
    background: $bg-input;
    color: var(--formcolor);
    padding: 10px 4px;
    border: unset;
    border-radius: 3px;
    &:focus{
      outline: none;
     border: 1px solid var(--green);
     box-shadow: 0 0 3px var(--green);
    }
  &::placeholder{
    color:#aaa;
  }
}
.calendar{
  width: 100%;
  @include flex(flex-start,center);
}
.select{
  width: 100%;
  font-size: 1.5rem;
  color: inherit;
  &::placeholder{
    color: #aaa;
  }
}
.selectIconTask{
position: relative;
width:130px;
height: 130px;
@include flex(center,center);
}
.selectIconBtn{
  width: 100px;
  height: 100px;
  background-color: $bg-input;
  position: absolute;
  transform: translate(0,0);
  border-radius: 50%;
  @include flex(center,center);
  font-size: 3.5rem;
  color:#aaa;
  box-shadow: 1px 1px 2px #ddd,-1px -1px 2px #ddd;
  cursor: pointer;
}
.activeBtn{
  color:$color-secondry
}
.IconModal{
  --shadow:#c9c6c6;
  position:absolute;
  width: 240px;
  height: 230px;
  @include flex(space-around,center);
  flex-flow: row wrap;
  background:$bg-input;
  top: 100%;
  box-shadow: 1px 1px 2px var(--shadow),-1px -1px 2px var(--shadow);
  border-radius: 4px;
  z-index: 1;
}
.BtnIcons{
  width: 42px;
  height: 42px;
  font-size: 2.2rem;
  @include flex(center,center);
  cursor: pointer;
  &:hover,&:active{
    background: rgba($color: #000000, $alpha: 0.1);
    transition: background .3s ease-in-out;
    border-radius: 3px;
  }
}
.editIcons{
  position: absolute;
  color: $bg-input;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  span{
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 1.8rem;
    background: rgba($color: #000000, $alpha: 0.5);
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    @include flex(center,center);

}
}
@media screen and (min-width:$mobile-Xs) and (max-width:$mobile-S) {
  .NewTaskFrom{
    width: 90%;
    height: 94%;
  }
 .submitBtn{
    width: 144px;
    height: 24px;
    font-size: 1.4rem;
  border-radius: 3px;
  }
  .newTaskTitle{
    h2{
  font-size: 1.5rem;
    }
    svg{
      font-size: 14px;
    }
    display: none;
  }
  .inputTask{
    padding: 4px 4px;
    font-size: 1.3rem;
     &::placeholder{
        font-size: 1.2rem;
  }
  }
  .select{
     font-size: 1.2rem;
  }
  .selectIconTask{
    width: 64px;
    height: 64px;
  }
  .selectIconBtn{
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
  .IconModal{
    top: 28%;
    transform:scale(0.6);

  }
  .editIcons {
    span{
      width: 18px;
      height: 18px;
      font-size: 1.2rem;
      right: 0;
      bottom: -3px;
    }
  }
}
@media screen and (min-width:$tablet-m) and (max-width:$tablet-l){
  .NewTaskFrom{
    width: 80%;
    padding: 0 40px;
  }
  .newTaskTitle{
    display: none;
  }
}