.popup-content {
	--bg-color: #14141cf0;
	margin: auto;
	background: var(--bg-color);
	width: 35%;
	height: 60%;
	padding: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
	border-radius: 4px;
}
[role="tooltip"].popup-content {
	width: 200px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
	border-radius: 5px;
}
.popup-overlay {
	background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
	background: transparent;
}
.popup-arrow {
	-webkit-filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
	filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
	color: #fff;
	stroke-width: 2px;
	stroke: #d7d7d7;
	stroke-dasharray: 30px;
	stroke-dashoffset: -54px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
@media only screen and (max-width: 600px) {
	.popup-content {
		width: 75%;
		height: 50%;
	}
}
