@import '../../asset/Sass/mixin';
@import '../../asset/Sass/variable';
.Wrapper{
  position: relative;
  // background-color: rgba($color:$bg-secondry, $alpha: 0.6);
   background: linear-gradient(to right, $bg-GrandiantOne, $bg-GrandiantTow);
  width: 90%;
  height: 530px;
  margin: 10px auto;
  overflow: hidden;
}