@import './mixin';
@import './variable';
%OverlayPanel{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  @include flex(space-around,center);
  flex-direction: column;
}
%calendar{
  width: 100%;
  @include flex(flex-start,center);
}