$bg-primary: #333748;
$bg-secondry: #01ff87;
$color-primary: #dddcda;
$color-secondry: #15e27d;
$bg-Navbar:#292c3a;
$nav-border:1px solid #2b2e42;
$colors: (
 1: #fbc531,
2: #00c7c7,
3: #F24C4C,
4: #844685,
5: #F3C623
);