@import '../../asset/Sass/variable';
@import '../../asset/Sass/mixin';
.searchWrapper{
  --bg-gradiant2:#24C286;
  width:100%;
  height: 60px;
  @include flex(space-between,center);
  // position: -webkit-sticky; /* Safari */
  // position: sticky;
  position: absolute;
  top: 0;
  background:linear-gradient(to right,$bg-GrandiantOne,var(--bg-gradiant2));
  z-index: 3;
}
.searchBox{	
  position: relative;
  padding-right: 5%;
	input[type="text"] {
    color: $color-primary;
		border: none;
		background: none;
		z-index: 1;
		width: 30px;
		height: 30px;
		transition: all .25s ease-in .25s;
		color: transparent;
		font-size: 1.2rem;
		line-height:30px;
    font-family: inherit;
    &::placeholder{
      opacity: 0;
      transition: opacity .3s ease-in .25s;
      color: inherit;
    }
		&:hover {
			cursor: pointer;
			&:focus {
				cursor: text;
			}
			+ span {
				background:rgba($color: $bg-primary, $alpha: 0.35)
			}
		}
		&:focus {
			width: 200px;
			padding: 0 10px;
			outline: none;
			background:none;
			color:$color-primary;
      &::placeholder{
       opacity: 1;
      }
			+ span {
				width: 200px;
				&::before {
					width:2px;
					opacity: 0;
					transition: all .25s ease-in;
				}
			}
		}
		+ span {
			z-index: -1;
			position: absolute;
			border: 2px solid $color-primary;
			top: 0;
			width: 30px;
			height: 30px;
			transition: all .25s ease-in .25s;
			border-radius: 25px;
			left: 0;
      background: rgba($color: $bg-primary, $alpha: 0.35);
			&::before {
				transition: all .25s ease-in .5s;
				transform-origin: left top;
				content: '';
				position: absolute;
				width: 10px;
				height: 5px;
				border-radius: 5px;
				background: $color-primary;
				transform: rotate(45deg) translate(29px, -2px);
			}
		}
	}
}
.manageTask{
  width: 150px;
  height: 32px;
  background: rgba($color: $bg-primary, $alpha: 0.6);
  border-radius: 4px;
  margin-left: 5%;
  cursor: pointer;
  font-size: 1.4rem;
 & li:first-child{
  width: 100%;
  height: 100%;
  position: relative;
  @include flex(space-between,center);
  padding: 0 4px;
  svg{
    font-size: 2.2rem;
  }
 }
 .subMenu{
  position: absolute;
  top: 48px;
  left:31px;
  width:150px;
  height: 85px;
  background: rgba($color: $bg-primary, $alpha: 0.6);
  @include flex(space-around,center);
  flex-direction: column;
  padding: 3px;
  li{
    width: 100%;
    height: 32px;
    @include flex(space-between,center);
    svg{
      font-size: 1.4rem;
    }
  }
}
}

@media screen and (min-width:$mobile-Xs) and (max-width:$mobile-S){
  .searchWrapper{
    height: 40px;
  }
  .searchBox{	
    padding-right: calc(5%*3);
    input[type="text"] {
      width: 25px;
      height: 25px;
      &:focus {
        width: 150px;
      }
      + span{
        width: 25px;
        height: 25px;
        &::before {
          height: 4px;
              transform: rotate(45deg) translate(26px, -2px);
        }
      }
    }
  }
  .manageTask{
    width: 120px;
    height: 25px;
    font-size: 1.2rem;
    .subMenu{
      top: 36px;
    left: 20px;
    width: 120px;
    height: 60px;
    }
  }
}