@import '../../../asset/Sass/mixin';
@import '../../../asset/Sass/variable';
.OverlayWrapper{
  position: relative;
  left: 0;
   height: 100%;
  width: 200%;
  // background: linear-gradient(90deg, #f5534f, #313a87) no-repeat 0 0;
    // background-size: cover;
    background-color: $bg-Navbar;
    transition: left .6s ease-in-out;
}
.activeWrapper{
  left: 100%;
}
@media screen and (min-width:320px) and (max-width:480px) {
  .OverlayWrapper{
    width: 100%;
    height: 200%;
  }
  .activeWrapper{
    left: 0;
    height: 200%;
    transition: height .6s ease-in-out;
  }
}
@media screen and (min-width:$tablet-m) and (max-width:$tablet-l){
   .OverlayWrapper{
    width: 100%;
    height: 200%;
  }
  .activeWrapper{
    left: 0;
    height: 200%;
    transition: height .6s ease-in-out;
  }
}