@import '../../../asset/Sass/mixin';
@import '../../../asset/Sass/variable';
.OverlayWrapper{
  position: relative;
   height: 100%;
  width: 200%;
  // background: linear-gradient(90deg, #f5534f, #313a87) no-repeat 0 0;
  //   background-size: cover;
    background-color: $bg-Navbar;
}