@import '../../asset/Sass/_mixin';
@import '../../asset/Sass/variable';
.taskWrapper{
width: 100%;
height: 100%;
display:flex;
align-items: center;
flex-direction: column;
padding-top: 80px;
   overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    &::-webkit-scrollbar{
      height:0;
      width: 0;
    }
}
.noTodyTask{
  position: absolute;
  transform: translate(0,100%);
font-size: 5rem;
color: rgba($color: #fff, $alpha: 0.8);
p{
  font-size: 1.3rem;
}
}
.ModalWrapper{
  width: 622px;
  height: 640px;
  background-color: rgba($color:$bg-Navbar, $alpha: 0.8);
  position: absolute;
  transform: translate(33%,35%);
  z-index: 4;
}
.Modal{
  position: absolute;
  width: 450px;
  height: 400px;
  background-color:rgba($color:$bg-Navbar, $alpha: 0.8);
  border-radius: 4px;
  transform: translate(-18%,15%);
  display: grid;
  grid-template-rows: 30px 1fr;
}
.closeBtn{
font-size: 2.5rem;
padding:5px;
text-align: right;
span{
  width: 25px;
  height: 25px;
  @include flex (center,center);
  cursor: pointer;
  background-color: rgba($color: #e74c3c, $alpha: 0.5);
  color: rgba($color: $bg-input, $alpha: 0.7);
  transition: all 0.6s ease-in-out;
  &:hover{
    background: #e74c3c;
    color: rgba($color: $bg-input, $alpha: 0.9);
  }
}
}
.Filter{
width: 100%;
height: 60px;
@include flex(flex-start,center);
position: relative;
padding-right: 10%;
margin-bottom: 2%;
}
.manageTask{
  width: 64px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4rem;
  @include flex(space-around,center);
  margin-right:5px;
  li{
    background: rgba($color: $bg-primary, $alpha: 0.7);
    width: 26px;
    height: 26px;
    cursor: pointer;
    border-radius: 4px;
     @include flex(center,center);
    svg{
      font-size: 2rem;
    }
  }
}
@media screen and (min-width:$mobile-Xs) and (max-width:$mobile-S){
  .taskWrapper{
    padding-top: 55px;
  }
  .noTodyTask{
    font-size: 3.5rem;
  }
}